version: '3.8'

services:
  frontend:
    build:
      context: ./frontend
    image: versao-bralimp-frontend:latest
    ports:
      - "88:80"
    restart: unless-stopped
    networks:
      - webnet

networks:
  webnet:
    driver: bridge
