name: Deploy Frontend

on:
  push:
    branches:
    - main
    - esteira
  workflow_dispatch:


jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Deploy to VPS
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.VPS_HOST }}
        username: ${{ secrets.VPS_USER }}
        key: ${{ secrets.VPS_KEY }}
        port: 22
        script: |
          cd /root/apps/abralimp-deploy
          git checkout esteira
          git pull origin esteira
          docker compose up -d --build
